syntax: glob

#  binaries
*.dll
*.pdb
*.so*
*.bin
TerrainDemo

#  our in bin\
*.cfg
*.log
*.cache
*Cache.json

#  VS crap
#*.vcxproj
#*.filters
*.vcxproj.user
*.ilk
*.tlog
*.obj
*.rule
*.sdf

.cache
bin/*
build*/*
Dependencies/*

.DS_Store
iOSDependencies
AndroidBuild/
AndroidDependencies/
Build/
EmscriptenDependencies
EmscriptenBuild
